<header>
    <img src="../../assets/logoInmobiliaria.png" alt="Logo" class="logo">
    <a *ngIf="!isAuthenticated()" href="login" class="login-btn">Login</a>
    <a *ngIf="isAuthenticated()" (click)="logout()" class="login-btn">Cerrar Sesión </a>
  </header>
  <nav>
    <ul>
      <li><a href="create">Crear inmueble</a></li>
      <li><a href="property">Buscar inmueble</a></li>
      <li><a href="properties">Lista de inmuebles</a></li>
      <li><a href="visit">Registrar visita</a></li>
    </ul>
  </nav>
